.centerOne,
.loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #171717;
  width: 100%;
  height: 100%;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.centerOne h6 {
  font-size: larger;
  font-weight: 600;
}
.centerOne p {
  font-size: small;
  font-weight: 600;
}